<!-- toolbar.component.html -->
<mat-toolbar color="primary">
    <!-- First Row -->
    <div class="first-row">
      <div class="align-left">
        <h2>Work Locations</h2>
      </div>
      <div class="align-right">
        <mat-form-field appearance="fill">
          <mat-label>Search</mat-label>
          <input matInput placeholder="Search">
          <button mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
        <mat-button-toggle-group>
          <button mat-button>
            <mat-icon>view_list</mat-icon>
          </button>
          <button mat-button>
            <mat-icon>view_module</mat-icon>
          </button>
        </mat-button-toggle-group>
      </div>
    </div>
  
    <!-- Second Row -->
    <div class="second-row">
      <div class="align-left">
        <p>Subtitle</p>
      </div>
    </div>
  </mat-toolbar>
  
